@model HairArt.ViewModels.SelectScheduleViewModel


<div class="container login-container">
<h2>Select Schedule</h2>

<form method="post">
    <label for="schedule"></label>
    <select class="form-select" id="schedule" name="ScheduleId" required>
        @foreach (var schedule in Model.Schedules)
        {
            <option value="@schedule.ScheduleId">@schedule.StartDateTime.ToString("dd/MM/yyyy")</option>
        }
    </select>

    <label for="appointmentTime">Select Time</label>
    <input type="time" id="appointmentTime" name="appointmentTime" required />

    <button class="btn btn-brand" type="submit">Continue</button>
</form>

</div>
