@model HairArt.ViewModels.SelectScheduleViewModel

<h2>Takvim Seç</h2>

<form method="post">
    <label for="schedule">Uygun Tarih Seçin:</label>
    <select class="form-select" id="schedule" name="ScheduleId" required>
        @foreach (var schedule in Model.Schedules)
        {
            <option value="@schedule.ScheduleId">@schedule.StartDateTime.ToString("dd/MM/yyyy")</option>
        }
    </select>

    <label for="appointmentTime">Saat Seçin:</label>
    <input type="time" id="appointmentTime" name="appointmentTime" required />

    <button class="btn btn-brand" type="submit">Devam</button>
</form>

