@model HairArt.ViewModels.SelectProductViewModel

<h2>Ürün Seç</h2>

<div class="form-group">
<form method="post">
    <label for="product">Ürün Seçin:</label>
    <select class="form-select"id="product" name="ProductId" required>
        @foreach (var product in Model.Products)
        {
            <option value="@product.ProductId">@product.ProductName</option>
        }
    </select>
    <button class="btn btn-brand" type="submit">Devam</button>
</form>

</div>