@model HairArt.ViewModels.SelectEmployeeViewModel

<h2>Çalışan Seç</h2>

<div class="form-group">
<form method="post">
    <label for="employee">Çalışan Seçin:</label>
    <select class="form-select" id="employee" name="EmployeeId" required>
        @foreach (var employee in Model.Employees)
        {
            <option value="@employee.EmployeeId">@employee.FirstName @employee.LastName</option>
        }
    </select>
    
    <button class="btn btn-brand"type="submit">Devam</button>
</form>
</div>
