@model HairArt.ViewModels.SelectScheduleViewModel

<h2>Takvim Seç</h2>


<form method="post">
    <label for="schedule">Uygun Tarih ve Saat Seçin:</label>
    <select class="form-select" id="schedule" name="ScheduleId" required>
        @foreach (var schedule in Model.Schedules)
        {
            <option value="@schedule.ScheduleId">@schedule.StartDateTime.ToString("dd/MM/yyyy HH:mm") - @schedule.EndDateTime.ToString("HH:mm")</option>
        }
    </select>
    <button class="btn btn-brand"type="submit">Devam</button>
</form>
