@model IEnumerable<Entities.Models.ApplicationUser>

<div class="container mt-5">
    <h2>Users You Served</h2>

    @if (!Model.Any())
    {
        <p>No users found.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name @user.LastName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
