<section id="home" class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row align-items-center">
            <!-- Sol taraf metin -->
            <div class="col-lg-6 col-md-12 text-center text-lg-start">
                <h2><span class="text-brand">Welcome to HairStudio!</span></h2>
                <h2>Discover Your Unique & New Style</h2>
                <p>We believe that your hair is an expression of your personality. Our skilled stylists are here to help you unleash your true style potential.</p>
                <button class="btn btn-brand mt-3"><a asp-action="SelectCategory" asp-controller="Appointment">Book Now</a></button>
            </div>

            <!-- Sağ taraf resim -->
            <div class="col-lg-6 col-md-12 d-flex justify-content-center mt-4 mt-lg-0">
                <div class="hero-image">
                    <div class="pink-box"></div> <!-- Pembe kutucuk -->
                    <img src="/images/beautiful.jpg" alt="Hair Model" class="img-fluid"> <!-- Resim -->
                </div>
            </div>
        </div>
    </div>
</section>
