<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="container mt-5">
        <div class="container mt-5">
    
   <div class="my-5"><i class="fa fa-plus"></i></div>
    <div class="text-center my-5">
        <div class="display-6">Welcome to Admin Panel!</div>
    </div>
   
</body>
</html>