@model IEnumerable<Entities.Models.Product>

<div class="container mt-5">
    <h2 class="text-center mb-4">Services</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@{
                            if (product.Duration != null && product.Duration.TotalMinutes > 0)
                            {
                                string formattedDuration = string.Empty;
                                
                                if (product.Duration.TotalHours >= 1)
                                {
                                    formattedDuration += $"{(int)product.Duration.TotalHours} hours ";
                                }
                                
                                if (product.Duration.Minutes > 0)
                                {
                                    formattedDuration += $"{product.Duration.Minutes} minutes";
                                }

                                @formattedDuration.TrimEnd()
                            }
                            else
                            {
                                @:N/A
                            }
                        }</td>
                    <td>@product.ProductPrice tl</td>
                </tr>
            }
        </tbody>
    </table>
</div>
