@model IEnumerable<Entities.Models.Employee>

<div class="container login-contanier">
<h1>Müsait Çalışanlar</h1>


 <div class="row justify-content-center">
        @foreach (var employee in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow border-0 h-100 text-center">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">@employee.FirstName @employee.LastName</h4>
                        
                        <p class="card-text">Available: @(employee.IsAvailable ? "Yes" : "No")</p>

                        @* Kategorileri listele *@
                        <p class="card-text">
                            Categories:
                            @{
                                var categories = employee.EmployeeProducts
                                    .Select(ep => ep.Product.Category.CategoryName)
                                    .Distinct()
                                    .ToList();
                            }

                            @foreach (var category in categories)
                            {
                                <span>@category</span><br />
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>