<!DOCTYPE html>


   <div class="card-body d-flex flex-column">
      <h2 class="card-title">@ViewBag.Message</h2>
        <a asp-action="Products" asp-controller="Category" asp-route-id="@ViewBag.CategoryId" class="flash-btn">Geri Dön</a>
   </div>

       
               
